<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--<add name="dbLocation" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Projects\Tohilla\FIT\Gavin\GradesApplication\GradesApplication\StudentManagementSystem.mdf;Integrated Security=True"
      providerName=".NET Framework Data Provider for SQL Server" />-->
    <!--<add name="GradesApplication.Properties.Settings.StudentManagementSystemConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\StudentManagementSystem.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
    <add name="GradesApplication.Properties.Settings.StudentManagementSystemConnectionString"
      connectionString="Data Source=IE330426LT\SQLexpress; Integrated Security=True;User Instance=True;AttachDbFilename=C:\Users\byrneg\Source\Workspaces\Workspace\FIT\Gavin\GradesApplication\GradesApplication\StudentManagementSystem.mdf"
      providerName="System.Data.SqlClient" />
 
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--<add key="SubjectsProc" value="usp_GetSubjectList" />
    <add key="InsertSubjectsProc" value="usp_NewInsertSubjects" />
    <add key="InsertStudentProc" value="usp_InsertStudent" />
    <add key="StudentDetailsProc" value="usp_GetStudentDetails" />
    <add key="EditSubjectDetails" value="usp_AddOrUpdateGrade" />
    <add key="SubjectDetails" value="usp_GetSubjectDetails" />
    <add key="SubjectId" value="usp_GetLatestSubjectId" />
    <add key="LecturerId" value="usp_GetLatestLecturerId" />
    <add key="FindLecturer" value="usp_GetLecturer" />
    <add key="NewSubject" value="usp_NewSubject" />
    <add key="InsertLecturer" value="usp_InsertLecturer" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>